<div>
	<!--data-->
	<div>
		<p class="pull-right bai bian">2015年3月31号发布</p>
              		<p class="pull-left bai bian">上海&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-search"> </span></p>
              		<br />
	</div>


	<!--disease risk-->
	<div class="container">
	      		<% (1..3) .each do |ind|%>
	      			<div class="row pad">
	      				<% (4..5).each do |int| %>
	        				 	<div class="col-xs-5 tr pad">
		            					<%= image_tag @zhu["#{ind * int}"], class:"suo" %>
	            						<div class="bai riqu"><%= @zi["#{ind * int}"] %></div>
		            						<table>
									<tr>
										<td class="zhibiao bai">今天</td>
										<td class="zhibiao"><button type="button" class="btn btn-info btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-success btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-primary btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-warning btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-danger btn-xs suoe"></button></td>
									</tr>
								</table>
								<table>
									<tr>
										<td class="zhibiao bai">明天</td>
										<td class="zhibiao"><button type="button" class="btn btn-info btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-success btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-primary btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-warning btn-xs suoe"></button></td>
										<td class="zhibiao"><button type="button" class="btn btn-danger btn-xs suoe"></button></td>
									</tr>
								</table>
						</div>
		  			<% end %>
				</div>
	            		<% end %>
	</div>


	<!--air quality-->
	<table class="bian pad" style="margin:15px">
		<tr>
			<td class="zhibiao"><button type="button" class="btn btn-info btn-xs">&nbsp&nbsp低&nbsp&nbsp</button></td>
			<td class="zhibiao"><button type="button" class="btn btn-success btn-xs">轻微</button></td>
			<td class="zhibiao"><button type="button" class="btn btn-primary btn-xs">中等</button></td>
			<td class="zhibiao"><button type="button" class="btn btn-warning btn-xs">较高</button></td>
			<td class="zhibiao"><button type="button" class="btn btn-danger btn-xs">&nbsp&nbsp高&nbsp&nbsp</button></td>
		</tr>
	</table>


	<!--state-->
	<div>
		<h4 class="bai" style="margin:5px">疾病气象风险预报说明文字</h4>
		<br />
		<br />
		<p class="bai bian">上海市浦东区新区气象台</p>
		<p class="pull-right bai bian">联合发布</p>
		<p class="pull-left bai bian">上海市浦东新区疾病预防控制中心</p>
 	</div>
</div>