table, p, h4, td, div{
           color:white;
}
.bian{
	margin: 5px;
}
.zhibiao{
	padding:1px;
	margin:15px;
}
.suo{
	width: 45%;
	float: left;
}
.ding{
	padding-top: 10px;
	margin-left: 10px;
	text-align: center;
}
.pad{
	margin-top: 5px; 
}
.pads{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.tr{
	background-color: rgba(0,0,0,0.1);
	padding:10px;
	width: 150px;
	height: 150px;
}
.suoe{
	height: 75%;
	width: 95%;
}
.lin{
	background-color: rgba(0,0,0,0.1);
	padding:5px;
	margin: 10px;
}