.bai{
	color: white;
}
.bian{
	margin: 8px;
}
.col-xs-6 {
                text-align: center;
}
.zhibiao{
	padding:2px;
}
.suo{
	width: 45%;
	float: left;
}
.riqu{
	padding-top: 16px;
}
.pad{
	text-align: center;
}
.biao{
	float: left;
}
.tr{
	background-color: rgba(0,0,0,0.1);
	margin:15px;
	padding:15px;
}
.suoe{
	height: 60%;
}
.lin{
	background-color: rgba(0,0,0,0.1);
	margin:5px;
	padding:5px
}