.bai{
	color: white;
}
.bian{
	margin: 8px;
}
.col-xs-6 {
                text-align: center;
}
.zhibiao{
	padding:2px;
}
.suo{
	width: 60%;
	float: left;
}
.riqu{
	padding-top: 20px;
}
.pad{
	margin-top: 20px;
}
.biao{
	float: left;
	text-align:right;
}