$color-red:#ff0000;
$color-orange:#f39800;
$color-yellow:#fff100;
$color-blue:#00a0e9;
$color-green:#32b16c;
$color-white:#fff;
$color-black:#000;
$color-gray:#eee;

//grid-system column padding

$grid-gutter-width:10px;
